<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>College Comuunity</title>
  <link rel="stylesheet" href="./entrance.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class='v-align'>
    <p class="text">College&nbsp;&nbsp;<i class="fa fa-paper-plane planelogo" aria-hidden="true"></i>&nbsp;&nbsp;Community</p>
    <div class='hero-btn'>
      <button class='btn' onclick="delay()">
        Let's Start
      </button><br>
      <p id="delaymsg"></p>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
      <span class='particles-circle'></span>
    </div>
  </div>
</div>
<!-- follow me template -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="./entrance.js"></script>

</body>
</html>
