<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link rel="stylesheet" href="./select.css">
</head>
<body>
    <label>Hello User, welcome to Community</label>
    <img src="https://media.istockphoto.com/vectors/vector-businessman-black-silhouette-isolated-vector-id610003972?k=20&m=610003972&s=612x612&w=0&h=-Nftbu4sDVavoJTq5REPpPpV-kXH9hXXE3xg_D3ViKE=">
    <button class="btn1" onclick="window.location.href='/signup'">New to Community</button>
    <button class="btn2" onclick="window.location.href='/signinapp'">Login to Community</button>
</body>
</html>